.ColBoard{
  width: 40%;
  /* -webkit-transform: skew(-30deg) rotate(-30deg); */
  /* transform: rotateY(50deg); */
  /* transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg); */
  /* transform: rotateX(60deg); */
}

.Row1{
  margin: 0 !important;
  margin-top: 60px !important;
  margin-left: 50px !important;
}

.info{
  margin-left: 80px;
}


#div1 {
    position: relative;
    height: 85%;
    width: 85%;
    margin-left: 60px;
    perspective: 800px;
}

.board{
    border: 1px solid black;
    transform-style: preserve-3d;
    transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
}

.Man{
  height: 35%;
  width: 15%;
  margin: 0px;
}

#Loc1A{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -15px;
  left: 15px;

}