.ColBoard{
  width: 40%;
  /* -webkit-transform: skew(-30deg) rotate(-30deg); */
  /* transform: rotateY(50deg); */
  /* transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg); */
  /* transform: rotateX(60deg); */
}

.Row1{
  margin: 0 !important;
  margin-top: 60px !important;
  margin-left: 50px !important;
}

.info{
  margin-left: 80px;
}


#div1 {
    position: relative;
    /* height: 85%; */
    width: 500px;
    margin-left: 80px;
    perspective: 800px;
}

.board{
    border: 1px solid black;
    transform-style: preserve-3d;
    transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
}



.HighlightInst{
  border-radius: 8px;
  border-style: solid;
  border-color: red;
  border-width: 1px;
}

#Loc1A{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -80px;
  left: -84px;
}
#instHolder1{
  top:394px;
  left: -79px;
}

#Loc4A{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -269px;
  left: -54px;
}
#instHolder2{
  top:206px;
  left: -9px;
}

#Loc7A{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -389px;
  left: -50px;
}
#instHolder3{
  top:86px;
  left: 35px;
}

#Loc2B{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -150px;
  left: -88px;
}
#instHolder4{
  top:325px;
  left: 36px;
}

 #Loc4B{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -269px;
  left: -99px;
}
#instHolder5{
  top:206px;
  left: 67px;
}

#Loc6B{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -357px;
  left: -116px;
}
#instHolder6{
  top:120px;
  left: 90px;
}

#Loc3C{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -202px;
  left: -122px;
}
#instHolder7{
  top:274px;
  left: 123px;
}

#Loc4C{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -269px;
  left: -153px;
}
#instHolder8{
  top:207px;
  left: 133px;
}

#Loc5C{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -326px;
  left: -184px;
}
#instHolder9{
  top:149px;
  left: 142px;
}

#Loc1D{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -79px;
  left: -131px;
}
#instHolder10{
  top:397px;
  left: 236px;
}

#Loc2D{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -149px;
  left: -171px;
}
#instHolder11{
  top:328px;
  left: 238px;
}

#Loc3D{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -201px;
  left: -211px;
}
#instHolder12{
  top:273px;
  left: 232px;
}

#Loc5D{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -367px;
  left: 229px;
}
#instHolder13{
  top:149px;
  left: 214px;
}

#Loc6D{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -397px;
  left: 189px;
}
#instHolder14{
  top:121px;
  left: 256px;
}

#Loc7D{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -427px;
  left: 149px;
}
#instHolder15{
  top:87px;
  left: 220px;
}

#Loc3E{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -242px;
  left: 223px;
}
#instHolder16{
  top:272px;
  left: 349px;
}

#Loc4E{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -309px;
  left: 172px;
}
#instHolder17{
  top:207px;
  left: 338px;
}

#Loc5E{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -366px;
  left: 123px;
}
#instHolder18{
  top:151px;
  left: 330px;
}

#Loc2F{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -190px;
  left: 188px;
}
#instHolder19{
  top:327px;
  left: 435px;
}

#Loc4F{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -309px;
  left: 117px;
}
#instHolder20{
  top:206px;
  left: 404px;
}

#Loc6F{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -396px;
  left: 55px;
}
#instHolder21{
  top:119px;
  left: 381px;
}

#Loc1G{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -120px;
  left: 185px;
}
#instHolder22{
  top:399px;
  left: 553px;
}

#Loc4G{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -309px;
  left: 72px;
}
#instHolder23{
  top:207px;
  left: 480px;
}

#Loc7G{
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(0deg) rotateZ(0deg);
  position: relative;
  top: -429px;
  left: -13px;
}
#instHolder24{
  top:88px;
  left: 432px;
}
/**/

.instHolderA{
  position: absolute;
  z-index:1;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: red;
  border-radius: 5px;
}

.instHolderB{
  position: absolute;
  z-index:1;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: blue;
  border-radius: 5px;
}

.instHolderA:hover{
  position: absolute;
  z-index:1;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  border-radius: 5px;
}

.instHolderB:hover{
  position: absolute;
  z-index:1;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  border-radius: 5px;
}

.highlightPAON{
  background-color: #ac4545;
}
.highlightPAOFF{
  background-color: white;
}

.highlightPBON{
  background-color: #394a9f;
}
.highlightPBOFF{
  background-color: white;
}

.millRow,.millCol{
  border-width: 4px;
  border-style: dashed;
  border-color: green;
}
